.out_table {
  display: contents;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #caacfa;
  margin-bottom: 10px;
}
.out_table>thead {
  background-color: #9189f0;
}
.out_table>tbody {
  background-color: #c4c6ff;
}

